body{
    background-color: rgb(155, 182, 173);
    display: grid;
    place-items: center;
    margin-top: 40vh;
}
#temp{
    font-size: 30px;
}
[type="submit"]{
    font-size: 30px;
    margin-top: 20px;

}
#temp_diff{
    font-size: 20px;
    margin-top: 20px;

}
[for="temp"]{
    font-size: 40px;
    

}